.form-container {
  display: flex;
  flex-direction: column;
  max-width: 300px;
}

.form-container label {
  font-size: 16px;
}

.form-container input {
  font-size: 16px;
  padding: 5px;
  margin-bottom: 10px;
}

.form-container button {
  font-size: 16px;
  padding: 8px 16px;
}
